    <div class="mb-3">
        {{ form_errors(form) }}
    </div>
    {{ form_start(form) }}
    <div class="mb-3">
        {{ form_row(form.imageFile) }}
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Ajouter le logo</button>
    </div>
{{ form_end(form) }}