{% extends 'base.html.twig' %}

{% block title %}Génération de signature{% endblock %}

{% block body %}
    <div class="container mt-5">
        <section class="section">
            <h1 class="mb-5">Génération de signature</h1>
        </section>
        <section class="section row mt-5">
            <div class="col-md-6">
                <h2 class="mb-5">Votre logo</h2>
                {% if logo is not empty %}
                    {% include 'list/logo.html.twig' with { logo: logo } %}
                {% else %}
                    <p>Aucun logo trouvé</p>
                    <a href="{{ path('logo_add') }}" class="btn btn-success">Ajouter un logo</a>
                {% endif %}
            </div>
            <div class="col-md-6">
                <h2 class="mb-5">Votre bannières</h2>
                {% if banner is not empty %}
                    {% include 'list/banner.html.twig' with { banner: banner } %}
                {% else %}
                    <p>Aucune bannière trouvée</p>
                    <a href="{{ path('banner_add') }}" class="btn btn-success">Ajouter une bannière</a>
                {% endif %}
            </div>
        </section>
        <section class="section mt-5">
            <h2 class="mb-5">Votre équipe</h2>
            <div class="d-flex flex-row mb-3 gap-2" >
                <a href="{{ path('team_add') }}" class="btn btn-primary p-2">Ajouter un personnel</a>
                <a href="{{ path('cache_clear') }}" class="btn btn-success p-2">Supprimer le cache</a>
            </div>
            {% include 'list/team.html.twig' with { teams: teams } %}
        </section>
    </div>
{% endblock %}
