<figure>
    <img src="{{ vich_uploader_asset(banner, 'imageFile', 'App\\Entity\\Banner') ~ '?v=' ~ banner.updatedAt|date('U') }}" alt="Bannière">
</figure>
<form action="{{ path('banner_remove') }}" method="POST">
    <input type="hidden" name="id" value="{{ banner.id }}">
    <input type="hidden" name="token" value="{{ csrf_token('banner_remove') }}">
    <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer la bannière ?')">Supprimer la bannière</button>
</form>